@import 'responsive.scss';

.about {
	margin-bottom: 30px;
	@include media(mdx) {
		padding: 0 20px;
	}
	@include media(sm) {
		margin-bottom: 20px;
	}
	&__wrap {
		display: flex;	
		flex-wrap: wrap;
	}
	&__item {
		&--aside {
			width: 628px;
			background-color: #0E1218;
			border-radius: 20px;
			padding: 35px 30px;
			padding-right: 15px;	
			@include media(lgm) {
				width: 528px;
			}
			@include media(lgxs) {
				width: 100%;
			}
			@include media(mdx) {
				padding: 30px 24px;
			}
			@include media(sm) {
				padding: 15px;
			}
		}
		&--content {
			width: calc(100% - 628px);
			padding-left: 28px;	
			@include media(lgm) {
				width: calc(100% - 528px);
			}
			@include media(lgxs) {
				display: none;
			}
		}
	}
	&__numbers {
		position: relative;
		z-index: 1;
		height: 100%;
		display: flex;
		flex-direction: column;
		gap: 30px 0;
		background-color: #3334FF;
		border-radius: 20px;
		padding: 50px 0;
		border-bottom: 14px solid #3334FF;
		&:after {
			position: absolute;
			content: '';
			z-index: -1;
			top: 0;
			left: 0;
			width: 100%;	
			height: 100%;
			background-color: #0E1218;
			border-radius: inherit;
		}
	}
	&__row {
		display: flex;
		justify-content: space-between;
	}
	&__holder {
		display: flex;
		flex-direction: column;
		gap: 20px 0;
		margin-bottom: 40px;
		@include media(mdx) {
			gap: 26px 0;
			margin-bottom: 30px;
		}
	}
	&__avatar {
		max-width: 138px;
		width: 100%;
		flex-grow: 0;
		@include media(xxs) {
			max-width: 62px;
		}
		img {
			display: block;
			max-width: 100%;
			border-radius: 50%;
		}
	}
	&__title {
		display: flex;
		font-size: 24px;
		color: #fff;
		word-break: break-all;
		font-weight: 700;
		@include media(sm) {
			font-size: 16px;
		}
		span {
			display: inline-block;
			min-width: 130px;
			font-weight: 400;
			@include media(sm) {
				min-width: 88px;
			}
		}
	}
	&__inner {
		display: flex;
		align-items: center;
		gap: 22px;
		@include media(sm) {
			gap: 12px;
		}
	}
	&__btn {
		cursor: pointer;
		display: inline-block;
		font-size: 16px;
		line-height: 1.2;
		color: #fff;
		border: none;
		border-radius: 20px;
		background-color: #302EFF;
		padding: 11px 20px;
		font-family: Public Sans, sans-serif;
		@include media(mdx) {
			font-size: 21px;
			padding: 11px 34px;
		}
		@include media(sm) {
			font-size: 14px;
			padding: 11px 16px;
		}
	}
	&__col {
		position: relative;
		z-index: 1;
		font-size: 24px;
		line-height: 1.3;
		display: flex;	
		align-items: center;
		color: #fff;
		height: 50px;
		padding-left: 28px;	
		font-weight: 700;
		font-family: DM Sans, sans-serif;
		@include media(lgm) {
			font-size: 22px;
		}
		&:after {
			position: absolute;
			z-index: -1;
			content: '';
			top: 50%;
			left: 0;
			background-color: rgba(81, 80, 80, 0.5);
			transform: translateY(-50%);
			width: 100%;	
			height: 2px;	
		}
		&:before {
			position: absolute;
			content: '';
			top: 0;
			left: 0;
			width: 100%;	
			height: 100%;	
		}
		&:first-child {
			&:before {
				background: linear-gradient(90deg, rgba(66, 62, 252, 0) -0.001%,rgb(66, 62, 252) 99.95%);
			}
		}
		&:nth-child(2) {
			&:before {
				background: linear-gradient(90deg, rgba(246, 212, 35, 0) 0%,rgb(246, 212, 35) 100%);
			}
		}
		&:nth-child(3) {
			&:before {
				background: linear-gradient(90deg, rgba(125, 88, 246, 0) 0%,rgb(125, 88, 246) 100%);
			}
		}
		&:nth-child(4) {
			&:before {
				background: linear-gradient(90deg, rgba(54, 57, 61, 0) 0.053%,rgb(54, 57, 61) 100.002%);
			}
		}
	}
}