@import 'responsive';

.ask {
	display: none;
	background: linear-gradient(180.00deg, rgb(112, 169, 255),rgb(1, 73, 180) 100%,rgb(49, 110, 201) 100%);
	@include media(mdx) {
		display: block;
		padding: 27px 0;
	}
	@include media(sm) {
		padding: 13px 0;
	}
	&__image {
		display: block;
		max-width: 38px;
		margin-left: auto;
		@include media(sm) {
			max-width: 18px;
		}
		img {
			display: block;
			max-width: 100%;
		}
	}
}