@import 'responsive';

.ask {
	display: none;
	@include media(mdx) {
		display: block;
		padding: 27px 0;
	}
	@include media(sm) {
		padding: 13px 0;
	}
	&__image {
		display: block;
		max-width: 38px;
		margin-left: auto;
		@include media(sm) {
			max-width: 18px;
		}
		img {
			display: block;
			max-width: 100%;
		}
	}
}