@import 'responsive';

.callback {
	@include media(mdx) {
		padding: 0 15px;
	}
	&__holder {
		position: relative;
		z-index: 1;
		padding-bottom: 46px;
		@include media(mdx) {
			overflow: hidden;
			border-radius: 40px;
			box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.1);
			background-color: #0E1218;
			padding: 36px;
			margin-bottom: 16px;
		}
		@include media(sm) {
			padding: 20px 16px;
			padding-bottom: 0;
			border-radius: 20px;
		}
	}
	&__title {
		font-size: 28px;
		line-height: 1.28;
		color: #fff;
		text-align: center;
		margin-bottom: 25px;
		font-weight: 500;
		font-family: DM Sans, sans-serif;
		@include media(mdx) {
			font-size: 45px;
			text-align: left;
		}
		@include media(sm) {
			font-size: 22px;
			margin-bottom: 20px;
		}
	}
	&__wrap {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -15px;
		margin-bottom: 30px;
		@include media(mdx) {
			margin: 0;
		}
	}
	&__item {
		width: calc(50% - 30px);
		margin: 0 15px;
		@include media(mdx) {
			width: 100%;
			margin: 0;
			margin-bottom: 28px;
		}
		@include media(sm) {
			margin-bottom: 14px;
		}
		&--msg {
			width: 100%;
			margin: 0;
			margin-bottom: 30px;
			@include media(mdx) {
				margin-bottom: 18px;
			}
			@include media(sm) {
				margin-bottom: 14px;
			}
			.callback__label {
				margin-bottom: 10px;
			}
		}
	}
	&__send {
		display: block;
		cursor: pointer;
		max-width: 170px;
		width: 100%;
		border-radius: 20px;
		box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.25);
		color: rgb(255, 255, 255);
		font-size: 16px;
		line-height: 1.2;
		background-color: #302EFF;
		border: none;
		padding: 10px;
		margin: 0 auto;
		font-family: Public Sans, sans-serif;
		@include media(mdx) {
			max-width: 286px;
			width: 100%;
			font-size: 33px;
			color: #fff;
			border-radius: 40px;
			box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.25);
			padding: 21px 10px;
		}
		@include media(sm) {
			max-width: 140px;
			font-size: 16px;
			padding: 10px;
			margin: 0;
		}
	}
	&__add {
		font-size: 14px;
		color: #fff;
		display: flex; 
		justify-content: flex-end;
		width: max-content;
		margin-left: auto;
		font-family: Public Sans, sans-serif;
		@include media(mdx) {
			max-width: 308px;
			width: 100%;
			font-size: 33px;
			color: #fff;
			justify-content: center;
			text-align: center;
			margin-left: 0;
			border-radius: 40px;
			box-shadow: 0px 8px 42px 0px rgba(0, 0, 0, 0.25);
			background: #3334FF;
			padding: 20px 10px;
		}
		@include media(sm) {
			max-width: 150px;
			font-size: 16px;
			padding: 10px;
		}
	}
	&__info {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: flex-end;
		gap: 30px;
		@include media(mdx) {
			align-items: center;
			gap: 15px 10px;
		}
		@include media(sm) {
			gap: 10px;
		}
	}
	&__file {
		position: absolute;
		width: 1px;
		height: 1px;
		padding: 0;
		margin: -1px;
		overflow: hidden;
		clip: rect(0, 0, 0, 0);
		border: 0;
	}
	&__name {
		font-size: 14px;
		color: #fff;
		@include media(mdx) {
			width: 100%;
			font-size: 34px;	
		}
		@include media(mdx) {
			font-size: 14px;
		}
	}
	&__box {
		width: 100%;
		@include media(mdx) {
			max-width: 286px;
			width: 100%;
		}
		@include media(sm) {
			max-width: 140px;
		}
	}
}