@import 'responsive';

.content { 
	&__wrap {
		display: flex;	
		flex-wrap: wrap;
		@include media(mdx) {
			flex-direction: column;
		}
	}
	&__aside {
		position: relative;
		z-index: 12;
		width: 295px;	
		min-height: 100vh;		
		background: #0E1218;
		padding: 20px;
		@include media(mdx) {
			width: 100%;	
			display: flex;
			align-items: center;
			justify-content: space-between;
			min-height: auto;
			box-shadow: 0px 8.27px 41.33px 0px rgba(0, 0, 0, 0.25);
			padding: 28px 20px;
			margin-bottom: 8px;
		}
		@include media(sm) {
			padding: 9px 20px;
			margin-bottom: 4px;	
		}
	}
	&__block {
		position: relative;
		width: calc(100% - 295px);
		padding-top: 20px;
		padding-left: 36px;
		padding-right: 36px;
		border-radius: 10px;
		@include media(mdx) {
			width: 100%;	
			padding-left: 0px;
			padding-right: 0px;
			padding-top: 0;
		}
	}
	&__logo {
		display: flex;	
		align-items: center;
		justify-content: center;
		margin-top: 15px;
		margin-bottom: 38px;	
		@include media(mdx) {
			margin-top: 0;
			margin-bottom: 0;
			box-shadow: none;
			background: transparent;
		}
	}
	&__image {
		max-width: 54px;
		margin-right: 10px;	
		@include media(mdx) {
			max-width: 78px;
			border-radius: 50%;
			margin-right: 30px;
		}
		@include media(sm) {
			max-width: 26px;
			margin-right: 16px;
		}
		img {
			display: block;	
			max-width: 100%;
		}
	}
	&__desc {
		font-size: 28px;
		line-height: 1.28;
		color: #fff;
		font-weight: 500;
		font-family: DM Sans, sans-serif;
		@include media(mdx) {
			font-size: 42px;
			color: #fff;
		}
		@include media(sm) {
			font-size: 20px;
		}
	}
	&__list {
		@include media(mdx) {
			display: none;
			width: 100%;
			max-width: 454px;
			top: 100%;
			left: 0px;
			right: 0px;
			z-index: 3;
			position: absolute;
			max-height: calc(100vh - 70px);
			overflow-y: auto;
			overflow-x: hidden;
			background: #0E1218;
			padding: 50px 0;
	    }
	    @include media(sm) {
	    	padding: 20px 0;
	    }
	}
	&__link {
		--main--color--icon: #fff;
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		font-size: 16px;
		line-height: 1.2;
		color: #fff;
		letter-spacing: 0%;
		text-align: left;
		padding: 25px 10px;
		font-family: Public Sans, sans-serif;
		@include media(mdx) {
			border-radius: 0;
			font-size: 33px;
			background-color: transparent;
			box-shadow: none;
			padding: 40px 34px;
		}
		@include media(sm) {
			font-size: 16px;
			padding: 20px 20px;
		}
		svg {
			display: block;
			max-width: 20px;
			width: 100%;
			@include media(mdx) {
				max-width: 42px;
				width: 40px;	
				height: 40px;	
			}
			@include media(sm) {
				max-width: 20px;
				width: 20px;	
				height: 20px;	
			}
		}
		span {
			padding-left: 12px;
		}
		&.active {
			color: #423EFC;
			--main--color--icon: #423EFC;
		}
	}
	&__title {
		position: relative;
		font-size: 33px;
		display: none;
		justify-content: center;
		color: #fff;
		background: #0E1218;
		padding: 20px 0;
		font-family: Public Sans, sans-serif;
		@include media(mdx) {
			display: flex;
			align-items: center;
		}
		@include media(sm) {
			font-size: 16px;
		}
		
	}
	&__icon {
		max-width: 36px;
		width: 100%;	
		margin-right: 16px;
		@include media(sm) {
			max-width: 20px;
			margin-right: 10px;	
		}
		img {
			display: block;
			max-width: 100%;
			width: 100%;
		}	
	}
	&__plus {
		position: absolute;
		cursor: pointer;
		right: 20px;
		top: 50%;
		transform: translateY(-50%);
		max-width: 36px;
		width: 100px;	
		@include media(sm) {
			max-width: 20px;
		}
		img {
			display: block;
			max-width: 100%;
			width: 100%;
		}
	}
	&__bg {
		position: absolute;
		z-index: -1;
		top: 0;
		right: 0;
		max-width: 950px;
		height: 525px;
		width: 100%;
		background: #0E1218;
		background-size: cover;
		-webkit-clip-path: url(#clip-about);
		@include media(mdx) {
			display: none;
		}
	}
	&__subtitle {
		display: none;
		width: max-content;
		font-size: 51px;
		background: linear-gradient(90.00deg, rgb(229, 240, 255),rgb(118, 155, 254),rgb(48, 45, 255));
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		padding: 20px;
		font-weight: 700;
		font-family: DM Sans, sans-serif;
		@include media(mdx) {
			display: block;
		}
		@include media(sm) {
			font-size: 32px;
		}
	}
}